@font-face {
  font-family: 'Circular';
  src: local('Circular'), url(../../assets/fonts/lineto-circular-bold.ttf) format('truetype');
  font-weight: bold
}
@font-face {
  font-family: 'Circular';
  src: local('Circular'), url(../../assets/fonts/lineto-circular-book.ttf) format('truetype');
  font-weight: 500
}

.container .searchbarsection input {
    width: calc(100% - 135px);
    height: 56px;
    padding: 0 4px;
    font-size: 2.369rem;
    font-family: 'Circular',Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #333;
    caret-color: #106FF3;
    border: 0;
    border-bottom: 1px solid #000;
    flex: 1;
    min-width: 0;
    border-radius: 0;
    -webkit-appearance: none;
    text-overflow: ellipsis;
  
  }
  .container .searchbarsection input:focus{
    outline: none;
  }
 
  .container .searchbarsection input::-moz-selection {
    color:#fff;
    background-color:#000;
  }
  
  .container .searchbarsection input::selection {
    color:#fff;
    background-color:#000;
  }
  .searchbarsection{
    position: relative;
    margin: 60px auto 60px auto;
    padding: 0 16px;
    max-width: 832px;
  
  }
  
  .searchbutton{
    cursor: pointer;
    width: 112px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: #0768fd;
    font-family: 'Circular',"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 1.33rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin: 0 0 0 19px;
    vertical-align: top;
  }
  .searchbutton:hover{
    background-color: #0557d5;
  }
  .searchbutton:focus{
    outline: none;
  }
  
  @media (max-width: 900px){
    .container .searchbarsection input {
      font-size: 28px;
    }
  }

  @media (max-width: 479px){
    .container .searchbarsection input {
      font-size: 15px;
      width: calc(100% - 95px);
      height: 42px;
    }
    .searchbutton{
     width: 76px;
     height: 42px;
     font-size: 15px;
     line-height: 0;
     vertical-align: middle;
    }
    .searchbarsection{
      padding: 0 8px;
    }
  }