.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background-color: #1E2F41;
    height: 150px;
    padding: 20px;
    -webkit-box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
    -moz-box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
    box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
  }
  
  .App-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  .page-footer{
    background-color:#555;
    color:white;
    width:100%;
    bottom:0;
    left:0;
  }

  /* .app{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 60px 1fr 1fr 1fr 1fr 60px;
    grid-template-areas:
    "n n n n n n"
    "r m m m m m"
    "r m m m m m"
    "r m m m m m"
    "r m m m m m"
    "f f f f f f";
  } */

  .header{
    grid-area: n;
  }
  .left{
    grid-area: r;
  }
  .card2{
    grid-area: m;
  }
  .footer{
    grid-area: f;
  }
  .left{
    background-color: #e9eaec;
  }